.linkBig {
    position: absolute;
    width: 895px;
    height: 20px;
    background-color: grey;
    opacity: 0.2;
    border-radius: 5px;
}

.linkSmall {
    position: absolute;
    width: 60px;
    height: 25px;
    background-color: grey;
    opacity: 0.2;
    border-radius: 5px;
}

#divLink_1 {
    left: 19px;
    top: 667px;
}

#divLink_2 {
    left: 21px;
    top: 758px;
}

#divLink_3 {
    left: 19px;
    top: 788px;
}

#divLink_4 {
    left: 21px;
    top: 817px;
}

#divLink_5 {
    left: 20px;
    top: 847px;
}

#divLink_6 {
    left: 21px;
    top: 876px;
}

#divLink_7 {
    left: 20px;
    top: 934px;
}

#divLink_8 {
    left: 22px;
    top: 964px;
}

#divLink_9 {
    left: 23px;
    top: 998px;
}

#divLink_10 {
    left: 22px;
    top: 1054px;
}

#divLink_11 {
    left: 23px;
    top: 1085px;
}

#divLink_12 {
    left: 21px;
    top: 1114px;
}

#divLink_13 {
    left: 23px;
    top: 1144px;
}

#divLink_14 {
    left: 23px;
    top: 1174px;
}

#divLink_15 {
    left: 22px;
    top: 1203px;
}

#divLink_16 {
    left: 23px;
    top: 1231px;
}

#divLink_17 {
    left: 23px;
    top: 1326px;
}

#divLink_18 {
    left: 22px;
    top: 1357px;
}

#divLink_19 {
    left: 21px;
    top: 1413px;
}

#divLink_20 {
    left: 21px;
    top: 1474px;
}

#divLink_21 {
    left: 20px;
    top: 1532px;
}

#divLink_22 {
    left: 23px;
    top: 1560px;
}

#divLink_23 {
    left: 22px;
    top: 1622px;
}

#divLink_24 {
    left: 22px;
    top: 1679px;
}

#divLink_25 {
    left: 23px;
    top: 1738px;
}

#divLink_26 {
    left: 24px;
    top: 1768px;
}

#divLink_27 {
    left: 24px;
    top: 1797px;
}

#divLink_28 {
    left: 24px;
    top: 1829px;
}

#divLink_29 {
    left: 15px;
    top: 2060px;
}

#divLink_30 {
    left: 15px;
    top: 2088px;
}

#divLink_31 {
    left: 16px;
    top: 2117px;
}

#divLink_32 {
    left: 16px;
    top: 2145px;
}

#divLink_33 {
    left: 16px;
    top: 2236px;
}

#divLink_34 {
    left: 15px;
    top: 2269px;
}

#divLink_35 {
    left: 15px;
    top: 2298px;
}

#divLink_36 {
    left: 17px;
    top: 2327px;
}

#divLink_37 {
    left: 15px;
    top: 2418px;
}

#divLink_38 {
    left: 16px;
    top: 2447px;
}

#divLink_39 {
    left: 17px;
    top: 2478px;
}

#divLink_40 {
    left: 16px;
    top: 2507px;
}

#divLink_41 {
    left: 17px;
    top: 2538px;
}

#divLink_42 {
    left: 17px;
    top: 2568px;
}

#divLink_43 {
    left: 15px;
    top: 2595px;
}

#divLink_44 {
    left: 13px;
    top: 2626px;
}

#divLink_45 {
    left: 15px;
    top: 2655px;
}

#divLink_46 {
    left: 14px;
    top: 2685px;
}

#divLink_47 {
    left: 15px;
    top: 2710px;
}

#divLink_48 {
    left: 13px;
    top: 2741px;
}

#divLink_49 {
    left: 16px;
    top: 2771px;
}

#divLink_50 {
    left: 14px;
    top: 2802px;
}

#divLink_51 {
    left: 16px;
    top: 2829px;
}

#divLink_52 {
    left: 15px;
    top: 2858px;
}

#divLink_53 {
    left: 14px;
    top: 2890px;
}

#divLink_54 {
    left: 15px;
    top: 2918px;
}

#divLink_55 {
    left: 15px;
    top: 2947px;
}

#divLink_56 {
    left: 17px;
    top: 2978px;
}

#divLink_57 {
    left: 17px;
    top: 3005px;
}

#divLink_58 {
    left: 15px;
    top: 3099px;
}

#divLink_59 {
    left: 19px;
    top: 3127px;
}

#divLink_60 {
    left: 19px;
    top: 3159px;
}

#divLink_61 {
    left: 17px;
    top: 3187px;
}

#divLink_62 {
    left: 19px;
    top: 3247px;
}

#divLink_63 {
    left: 18px;
    top: 3277px;
}

#divLink_64 {
    left: 17px;
    top: 3304px;
}

#divLink_65 {
    left: 18px;
    top: 3340px;
}

#divLink_66 {
    left: 20px;
    top: 3372px;
}

#divLink_67 {
    left: 18px;
    top: 3406px;
}

#divLink_68 {
    left: 18px;
    top: 3442px;
}

#divLink_69 {
    left: 17px;
    top: 3477px;
}

#divLink_70 {
    left: 18px;
    top: 3508px;
}

#divLink_71 {
    left: 20px;
    top: 3535px;
}

#divLink_72 {
    left: 19px;
    top: 3564px;
}

#divLink_73 {
    left: 19px;
    top: 3592px;
}

#divLink_74 {
    left: 19px;
    top: 3653px;
}

#divLink_75 {
    left: 20px;
    top: 3683px;
}

#divLink_76 {
    left: 19px;
    top: 3712px;
}

#divLink_77 {
    left: 21px;
    top: 3742px;
}

#divLink_78 {
    left: 21px;
    top: 3772px;
}

#divLink_79 {
    left: 18px;
    top: 3986px;
}

#divLink_80 {
    left: 18px;
    top: 4044px;
}

#divLink_81 {
    left: 19px;
    top: 4079px;
}

#divLink_82 {
    left: 18px;
    top: 4109px;
}

#divLink_83 {
    left: 17px;
    top: 4138px;
}

#divLink_84 {
    left: 19px;
    top: 4169px;
}

#divLink_85 {
    left: 18px;
    top: 4226px;
}

#divLink_86 {
    left: 17px;
    top: 4262px;
}

#divLink_87 {
    left: 19px;
    top: 4322px;
}

#divLink_88 {
    left: 20px;
    top: 4380px;
}

#divLink_89 {
    left: 20px;
    top: 4438px;
}

#divLink_90 {
    left: 19px;
    top: 4498px;
}

#divLink_91 {
    left: 19px;
    top: 4555px;
}

#divLink_92 {
    left: 19px;
    top: 4593px;
}

#divLink_93 {
    left: 21px;
    top: 4631px;
}

#divLink_94 {
    left: 19px;
    top: 4658px;
}

#divLink_95 {
    left: 21px;
    top: 4688px;
}

#divLink_96 {
    left: 20px;
    top: 4719px;
}

#divLink_97 {
    left: 22px;
    top: 4746px;
}

#divLink_98 {
    left: 21px;
    top: 4777px;
}

#divLink_99 {
    left: 21px;
    top: 4862px;
}

#divLink_100 {
    left: 22px;
    top: 4898px;
}

#divLink_101 {
    left: 23px;
    top: 4958px;
}

#divLink_102 {
    left: 23px;
    top: 4989px;
}

#divLink_103 {
    left: 23px;
    top: 5013px;
}

#divLink_104 {
    left: 23px;
    top: 5052px;
}

#divLink_105 {
    left: 22px;
    top: 5110px;
}

#divLink_106 {
    left: 23px;
    top: 5142px;
}

#divLink_107 {
    left: 22px;
    top: 5191px;
}

#divLink_108 {
    left: 22px;
    top: 5243px;
}

#divLink_109 {
    left: 23px;
    top: 5288px;
}

#divLink_110 {
    left: 23px;
    top: 5336px;
}

#divLink_111 {
    left: 22px;
    top: 5380px;
}

#divLink_112 {
    left: 22px;
    top: 5409px;
}

#divLink_113 {
    left: 23px;
    top: 5440px;
}

#divLink_114 {
    left: 24px;
    top: 5469px;
}

#divLink_115 {
    left: 24px;
    top: 5499px;
}

#divLink_116 {
    left: 24px;
    top: 5528px;
}

#divLink_117 {
    left: 24px;
    top: 5561px;
}

#divLink_118 {
    left: 23px;
    top: 5594px;
}

#divLink_119 {
    left: 23px;
    top: 5624px;
}

#divLink_120 {
    left: 24px;
    top: 5654px;
}

#divLink_121 {
    left: 23px;
    top: 5682px;
}

#divLink_122 {
    left: 25px;
    top: 5711px;
}

#divLink_123 {
    left: 24px;
    top: 5744px;
}

#divLink_124 {
    left: 15px;
    top: 5972px;
}

#divLink_125 {
    left: 15px;
    top: 6031px;
}

#divLink_126 {
    left: 14px;
    top: 6111px;
}

#divLink_127 {
    left: 14px;
    top: 6148px;
}

#divLink_128 {
    left: 14px;
    top: 6184px;
}

#divLink_129 {
    left: 14px;
    top: 6212px;
}

#divLink_130 {
    left: 14px;
    top: 6271px;
}

#divLink_131 {
    left: 14px;
    top: 6300px;
}

#divLink_132 {
    left: 13px;
    top: 6329px;
}

#divLink_133 {
    left: 13px;
    top: 6357px;
}

#divLink_134 {
    left: 14px;
    top: 6389px;
}

#divLink_135 {
    left: 12px;
    top: 6418px;
}

#divLink_136 {
    left: 13px;
    top: 6448px;
}

#divLink_137 {
    left: 12px;
    top: 6505px;
}

#divLink_138 {
    left: 13px;
    top: 6563px;
}

#divLink_139 {
    left: 15px;
    top: 6595px;
}

#divLink_140 {
    left: 16px;
    top: 6638px;
}

#divLink_141 {
    left: 16px;
    top: 6681px;
}

#divLink_142 {
    left: 14px;
    top: 6739px;
}

#divLink_143 {
    left: 14px;
    top: 6768px;
}

#divLink_144 {
    left: 15px;
    top: 6799px;
}

#divLink_145 {
    left: 15px;
    top: 6828px;
}

#divLink_146 {
    left: 14px;
    top: 6857px;
}

#divLink_147 {
    left: 13px;
    top: 6887px;
}

#divLink_148 {
    left: 14px;
    top: 6917px;
}

#divLink_149 {
    left: 15px;
    top: 6961px;
}

#divLink_150 {
    left: 13px;
    top: 7003px;
}

#divLink_151 {
    left: 14px;
    top: 7045px;
}

#divLink_152 {
    left: 14px;
    top: 7074px;
}

#divLink_153 {
    left: 13px;
    top: 7105px;
}

#divLink_154 {
    left: 14px;
    top: 7132px;
}

#divLink_155 {
    left: 13px;
    top: 7162px;
}

#divLink_156 {
    left: 13px;
    top: 7191px;
}

#divLink_157 {
    left: 14px;
    top: 7221px;
}

#divLink_158 {
    left: 14px;
    top: 7251px;
}

#divLink_159 {
    left: 16px;
    top: 7282px;
}

#divLink_160 {
    left: 15px;
    top: 7310px;
}

#divLink_161 {
    left: 14px;
    top: 7340px;
}

#divLink_162 {
    left: 15px;
    top: 7369px;
}

#divLink_163 {
    left: 15px;
    top: 7396px;
}

#divLink_164 {
    left: 15px;
    top: 7427px;
}

#divLink_165 {
    left: 15px;
    top: 7454px;
}

#divLink_166 {
    left: 15px;
    top: 7570px;
}

#divLink_167 {
    left: 14px;
    top: 7600px;
}

#divLink_168 {
    left: 16px;
    top: 7630px;
}

#divLink_169 {
    left: 16px;
    top: 7659px;
}

#divLink_170 {
    left: 15px;
    top: 7688px;
}

#divLink_171 {
    left: 20px;
    top: 7952px;
}

#divLink_172 {
    left: 20px;
    top: 7979px;
}

#divLink_173 {
    left: 19px;
    top: 8007px;
}

#divLink_174 {
    left: 18px;
    top: 8036px;
}

#divLink_175 {
    left: 181px;
    top: 8138px;
}

#divLink_176 {
    left: 345px;
    top: 8134px;
}

#divLink_177 {
    left: 517px;
    top: 8134px;
}

#divLink_178 {
    left: 675px;
    top: 8133px;
}

#divLink_179 {
    left: 847px;
    top: 8135px;
}

#divLink_180 {
    left: 175px;
    top: 8165px;
}

#divLink_181 {
    left: 337px;
    top: 8163px;
}

#divLink_182 {
    left: 449px;
    top: 8163px;
}

#divLink_183 {
    left: 613px;
    top: 8165px;
}

#divLink_184 {
    left: 773px;
    top: 8162px;
}

#divLink_185 {
    left: 101px;
    top: 8194px;
}

#divLink_186 {
    left: 269px;
    top: 8193px;
}

#divLink_187 {
    left: 464px;
    top: 8190px;
}

#divLink_188 {
    left: 664px;
    top: 8192px;
}

#divLink_189 {
    left: 846px;
    top: 8192px;
}

#divLink_190 {
    left: 150px;
    top: 8223px;
}

#divLink_191 {
    left: 311px;
    top: 8222px;
}

#divLink_192 {
    left: 485px;
    top: 8222px;
}

#divLink_193 {
    left: 642px;
    top: 8220px;
}

#divLink_194 {
    left: 770px;
    top: 8223px;
}

#divLink_195 {
    left: 100px;
    top: 8253px;
}

#divLink_196 {
    left: 205px;
    top: 8252px;
}

#divLink_197 {
    left: 695px;
    top: 8252px;
}

#divLink_198 {
    left: 848px;
    top: 8251px;
}

#divLink_199 {
    left: 167px;
    top: 8282px;
}

#divLink_200 {
    left: 286px;
    top: 8280px;
}

#divLink_201 {
    left: 412px;
    top: 8282px;
}

#divLink_202 {
    left: 610px;
    top: 8281px;
}

#divLink_203 {
    left: 770px;
    top: 8285px;
}

#divLink_204 {
    left: 536px;
    top: 8314px;
}

#divLink_205 {
    left: 700px;
    top: 8315px;
}

#divLink_206 {
    left: 848px;
    top: 8313px;
}

#divLink_207 {
    left: 162px;
    top: 8342px;
}

#divLink_208 {
    left: 393px;
    top: 8343px;
}

#divLink_209 {
    left: 534px;
    top: 8341px;
}

#divLink_210 {
    left: 273px;
    top: 8370px;
}

#divLink_211 {
    left: 458px;
    top: 8372px;
}

#divLink_212 {
    left: 647px;
    top: 8372px;
}

#divLink_213 {
    left: 770px;
    top: 8373px;
}

#divLink_214 {
    left: 463px;
    top: 8400px;
}

#divLink_215 {
    left: 648px;
    top: 8399px;
}

#divLink_216 {
    left: 798px;
    top: 8403px;
}

#divLink_217 {
    left: 99px;
    top: 8428px;
}

#divLink_218 {
    left: 235px;
    top: 8431px;
}

#divLink_219 {
    left: 758px;
    top: 8432px;
}

#divLink_220 {
    left: 100px;
    top: 8459px;
}

#divLink_221 {
    left: 742px;
    top: 8461px;
}

#divLink_222 {
    left: 102px;
    top: 8489px;
}

#divLink_223 {
    left: 420px;
    top: 8491px;
}

#divLink_224 {
    left: 20px;
    top: 8598px;
}

#divLink_225 {
    left: 19px;
    top: 8627px;
}

#divLink_226 {
    left: 21px;
    top: 8656px;
}

#divLink_227 {
    left: 21px;
    top: 8687px;
}

#divLink_228 {
    left: 20px;
    top: 8714px;
}

#divLink_229 {
    left: 21px;
    top: 8758px;
}

#divLink_230 {
    left: 23px;
    top: 8890px;
}

#divLink_231 {
    left: 21px;
    top: 8920px;
}

#divLink_232 {
    left: 21px;
    top: 9041px;
}

#divLink_233 {
    left: 19px;
    top: 9093px;
}

#divLink_234 {
    left: 20px;
    top: 9128px;
}

#divLink_235 {
    left: 19px;
    top: 9157px;
}

#divLink_236 {
    left: 21px;
    top: 9188px;
}

#divLink_237 {
    left: 22px;
    top: 9219px;
}

#divLink_238 {
    left: 18px;
    top: 9247px;
}

#divLink_239 {
    left: 20px;
    top: 9277px;
}

#divLink_240 {
    left: 20px;
    top: 9305px;
}

#divLink_241 {
    left: 21px;
    top: 9335px;
}

#divLink_242 {
    left: 19px;
    top: 9363px;
}

#divLink_243 {
    left: 21px;
    top: 9395px;
}

#divLink_244 {
    left: 21px;
    top: 9482px;
}

#divLink_245 {
    left: 20px;
    top: 9511px;
}

#divLink_246 {
    left: 21px;
    top: 9539px;
}

#divLink_247 {
    left: 20px;
    top: 9568px;
}

#divLink_248 {
    left: 20px;
    top: 9600px;
}

#divLink_249 {
    left: 21px;
    top: 9629px;
}

#divLink_250 {
    left: 20px;
    top: 9659px;
}

#divLink_251 {
    left: 21px;
    top: 9874px;
}

#divLink_252 {
    left: 25px;
    top: 9911px;
}

#divLink_253 {
    left: 22px;
    top: 9940px;
}

#divLink_254 {
    left: 19px;
    top: 9983px;
}

#divLink_255 {
    left: 19px;
    top: 10017px;
}

#divLink_256 {
    left: 20px;
    top: 10047px;
}

#divLink_257 {
    left: 17px;
    top: 10076px;
}

#divLink_258 {
    left: 23px;
    top: 10106px;
}

#divLink_259 {
    left: 17px;
    top: 10163px;
}

#divLink_260 {
    left: 17px;
    top: 10196px;
}

#divLink_261 {
    left: 17px;
    top: 10239px;
}

#divLink_262 {
    left: 16px;
    top: 10273px;
}

#divLink_263 {
    left: 17px;
    top: 10303px;
}

#divLink_264 {
    left: 16px;
    top: 10332px;
}

#divLink_265 {
    left: 16px;
    top: 10360px;
}

#divLink_266 {
    left: 17px;
    top: 10390px;
}

#divLink_267 {
    left: 18px;
    top: 10421px;
}

#divLink_268 {
    left: 16px;
    top: 10452px;
}

#divLink_269 {
    left: 16px;
    top: 10480px;
}

#divLink_270 {
    left: 16px;
    top: 10511px;
}

#divLink_271 {
    left: 15px;
    top: 10540px;
}

#divLink_272 {
    left: 16px;
    top: 10580px;
}

#divLink_273 {
    left: 16px;
    top: 10627px;
}

#divLink_274 {
    left: 25px;
    top: 10743px;
}

#divLink_275 {
    left: 23px;
    top: 10788px;
}

#divLink_276 {
    left: 15px;
    top: 10827px;
}

#divLink_277 {
    left: 14px;
    top: 10855px;
}

#divLink_278 {
    left: 14px;
    top: 10886px;
}

#divLink_279 {
    left: 13px;
    top: 10917px;
}

#divLink_280 {
    left: 15px;
    top: 10976px;
}

#divLink_281 {
    left: 13px;
    top: 11003px;
}

#divLink_282 {
    left: 14px;
    top: 11034px;
}

#divLink_283 {
    left: 14px;
    top: 11063px;
}

#divLink_284 {
    left: 14px;
    top: 11095px;
}

#divLink_285 {
    left: 14px;
    top: 11123px;
}

#divLink_286 {
    left: 14px;
    top: 11153px;
}

#divLink_287 {
    left: 13px;
    top: 11183px;
}

#divLink_288 {
    left: 13px;
    top: 11210px;
}

#divLink_289 {
    left: 12px;
    top: 11242px;
}

#divLink_290 {
    left: 11px;
    top: 11269px;
}

#divLink_291 {
    left: 13px;
    top: 11299px;
}

#divLink_292 {
    left: 11px;
    top: 11327px;
}

#divLink_293 {
    left: 12px;
    top: 11386px;
}

#divLink_294 {
    left: 12px;
    top: 11416px;
}

#divLink_295 {
    left: 10px;
    top: 11446px;
}

#divLink_296 {
    left: 12px;
    top: 11478px;
}

#divLink_297 {
    left: 12px;
    top: 11505px;
}

#divLink_298 {
    left: 13px;
    top: 11536px;
}

#divLink_299 {
    left: 12px;
    top: 11566px;
}

#divLink_300 {
    left: 12px;
    top: 11625px;
}

#divLink_301 {
    left: 44px;
    top: 11858px;
}

#divLink_302 {
    left: 45px;
    top: 11916px;
}

#divLink_303 {
    left: 47px;
    top: 11946px;
}

#divLink_304 {
    left: 44px;
    top: 12005px;
}

#divLink_305 {
    left: 44px;
    top: 12064px;
}

#divLink_306 {
    left: 45px;
    top: 12107px;
}

#divLink_307 {
    left: 45px;
    top: 12143px;
}

#divLink_308 {
    left: 45px;
    top: 12174px;
}

#divLink_309 {
    left: 44px;
    top: 12204px;
}

#divLink_310 {
    left: 46px;
    top: 12230px;
}

#divLink_311 {
    left: 45px;
    top: 12263px;
}

#divLink_312 {
    left: 44px;
    top: 12291px;
}

#divLink_313 {
    left: 44px;
    top: 12319px;
}

#divLink_314 {
    left: 45px;
    top: 12348px;
}

#divLink_315 {
    left: 44px;
    top: 12378px;
}

#divLink_316 {
    left: 46px;
    top: 12410px;
}

#divLink_317 {
    left: 46px;
    top: 12438px;
}

#divLink_318 {
    left: 45px;
    top: 12519px;
}

#divLink_319 {
    left: 45px;
    top: 12557px;
}

#divLink_320 {
    left: 47px;
    top: 12599px;
}

#divLink_321 {
    left: 46px;
    top: 12659px;
}

#divLink_322 {
    left: 26px;
    top: 9446px;
}


